[user]
	email = matthew@skinnerdev.com
	name = Matthew Skinner
[core]
	autocrlf = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
